@charset "utf-8";
/* CSS Document */

body {
    background: -webkit-linear-gradient(white, #E1F7E7, #A9E8DC);
    font-family: 'Marcellus', serif;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #E1F7E7; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #02BEC4; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #02547d; 
  }


/* Jumbotron */

.jumbotron {
    text-align: center;
    background-image: url("Earth.jpg");
    background-size: cover;
    height: 40%;
    box-shadow: 0px 5px 0px #02547D;
}

.jumbotron img {
    max-height: 200px;
        -webkit-filter: drop-shadow(5px 5px 5px white);
                filter: drop-shadow(5px 5px 5px white); 
}

/* Navbar */

.navbar {
    background: -webkit-linear-gradient(#02547D, #0284A8, #02BEC4);
    margin-top: -30px;
    font-family: 'Cinzel Decorative';
    font-size: 3vh;
}

.navbar a.navbar-brand img {
    max-height: 40px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
            filter: drop-shadow(1px 1px 1px black); 
}

.navbar-toggler {
    color: white;
}

.navbar a {
    color: white;
    text-shadow(1px 1px 1px black);
}

.navbar a:hover {
    color: #E1F7E7;
    text-shadow(1px 1px 1px black);
}

.navbar a.active {
    color: #A9E8DC;
    text-shadow(1px 1px 1px black);
}

/* Main part of website */

main {
    color: black;
    font-family: 'Marcellus', serif;
}

p {
	text-indent: 5%;
}

h1 {
    text-align: center;
	text-transform: uppercase;
	background: -webkit-linear-gradient(#0284A8, #02BEC4);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative';
	
}

h2 {
	background: -webkit-linear-gradient(#0284A8, #02BEC4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative';
}

h3 {
	background: -webkit-linear-gradient(#0284A8, #02BEC4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
      font-family: 'Cinzel Decorative';
}

h4 {
    text-align: center;
    text-align: center;
	text-transform: uppercase;
	background: -webkit-linear-gradient(#0284A8, #02BEC4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
      font-family: 'Cinzel Decorative';
}

.container {
    padding: 2%;
    font-family: 'Marcellus', serif;
}

.pad {
    text-align: justify;
    margin: auto;
}

.img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 400px;
    border: solid 10px #02BEC4;
    align-content: center;
}

/* Footer */

footer {
    background: -webkit-linear-gradient(#02BEC4, #0284A8, #02547D);
    font-family: 'Marcellus', serif;
    color: white;
    font-size: 2vh;
    text-align: center;
    margin:auto;
    padding: 2%;
}
