@charset "utf-8";
/* CSS Document */

body {
    background: -webkit-linear-gradient(white, #E1F7E7, #A9E8DC);
    font-family: 'Marcellus', serif;
    font-size: 12px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #E1F7E7; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #02BEC4; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #02547d; 
  }


/* Jumbotron */

.jumbotron {
    text-align: center;
    background-image: url("Earth.jpg");
    background-size: cover;
    height: 40%;
    box-shadow: 0px 5px 0px #02547D;
}

.jumbotron img {
    max-height: 200px;
        -webkit-filter: drop-shadow(5px 5px 5px white);
                filter: drop-shadow(5px 5px 5px white); 
}

/* Navbar */

.navbar {
    background: -webkit-linear-gradient(#02547D, #0284A8, #02BEC4);
    margin-top: -30px;
    font-family: 'Marcellus', serif;
    font-size: 3vh;
}

.navbar a.navbar-brand img {
    max-height: 40px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
            filter: drop-shadow(1px 1px 1px black); 
}

.navbar-toggler {
    color: white;
}

.navbar a {
    color: white;
    text-shadow:(1px 1px 1px black);
}

.navbar a:hover {
    color: #E1F7E7;
    text-shadow: (1px 1px 1px black);
}

.navbar a.active {
    color: #A9E8DC;
    text-shadow: (1px 1px 1px black);
}

/* Main part of website */

main {
    color: black;
    font-family: 'Marcellus', serif;
}

p {
	text-indent: 5%;
}

h1 {
    text-align: center;
	background: -webkit-linear-gradient(#0284A8, #02BEC4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative';
    font-size: 20px;
	
}

h2 {
	background: -webkit-linear-gradient(#0284A8, #02BEC4);
    background-clip: text;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
    font-family: 'Cinzel Decorative';
    font-size: 18px;
}

/* Responsive layout */
.container {
    padding: 2%;
    font-family: 'Marcellus', serif;
}

.pad {
    text-align: justify;
    margin: auto;
}

.row {
    padding:1em;
}

.row a {
    color: #0284A8;
    text-decoration: none;
}

.row a:hover {
    color: #02547D;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .hidden-img {
      visibility: hidden;
      clear: both;
      display: none;
    }
  }

/* Images */

.img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 400px;
    border: solid 10px #02BEC4;
    align-content: center;
}

img.social {
    width: 50px !important;
    height: 50px !important;
    border: none !important;
}

/* Slider */

.slide {
    border: solid 20px #0284A8;
}

.carousel-item {
    width: 50%;
    height: 400px;
}

.carousel-item img {
    object-fit: cover;
    height: 400px;
}

/* Footer */

footer {
    background: -webkit-linear-gradient(#02BEC4, #0284A8, #02547D);
    font-family: 'Marcellus', serif;
    color: white;
    font-size: 2vh;
    text-align: center;
    margin:auto;
    padding: 0px;
}

footer img {
    width: 50px !important;
    height: 50px !important;
    border: none !important;
}